# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.egg

# Virtual envs
.venv/
venv/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Caches / data
*.parquet
.gadata_cache/

# Editor / OS
.vscode/
.idea/
.DS_Store
